In [1]:
import pandas as pd
from pandas_profiling import ProfileReport

In [2]:
df = pd.read_csv("E:\VISUALISASI\DATABASE\CSV\MPNSPM.csv", sep = ";", low_memory =False)

In [28]:
klu = ['45102','45301','46593','45104','77100','46900','46901','45101','45201','45103','45202','45302','30912','29200','45405',
'46593','45401','47855','33141','46900','47794','45402','45406','28112','46901','49433','93191','27111','30911','45404',
'49432','45403','49423','49431','47736','29100','29300','77302','45407','33159']

In [29]:
df = df.loc[(df["KLU"]).isin (klu)]
df = df.astype({'MPN_NPWP':str,'KLU':int})
df = df[['MPN_NPWP','MPN_NAMA WP','MPN_MAP','DATEBAYAR','NOMINAL','KLU','Kategori','AR','SEKSI']]

In [31]:
df.to_csv("E:\VISUALISASI\DATABASE\CSV\otomotif.csv")

In [57]:
df_ektrak.to_excel("D:\DATA KANTOR\HASIL JUPYTER NOTEBOOK\KLUotomotif.xlsx",index=False)

In [36]:
df_ektrak.to_clipboard()

# CARI AR WP KE MADYA 2 JAKSEL

In [3]:
npwp = ['018129858007000','314795543002000','016742280007000','013658869007000','018130559003000',
       '027029354003000','016682510007000','018444497007000','015896046007000','018142430007000',
        '017837378007000','025063611008000'
]

In [22]:
MD2['MPN_NPWP'] = MD2['MPN_NPWP'].astype(str)
MD2 = df.loc[(df['MPN_NPWP'].isin (npwp))]
MD2 = MD2[['MPN_NPWP','MPN_NAMA WP','AR']]

MD2['MPN_NAMA WP'] = MD2['MPN_NAMA WP'].str.replace('PT','')
MD2['MPN_NAMA WP'] = MD2['MPN_NAMA WP'].str.replace('.','')
MD2['MPN_NAMA WP'] = MD2['MPN_NAMA WP'].str.replace(',','')
MD2['MPN_NAMA WP'] = MD2['MPN_NAMA WP'].str.strip()
MD2 = MD2.drop_duplicates(subset=['MPN_NAMA WP'])
MD2

             MPN_NPWP                  MPN_NAMA WP                 AR
21     16742280007000      ANEKABANGUN EKA PRATAMA       Donna Novita
83     18130559003000                   ESA ALGISA    Muhammad Sayuti
118   314795543002000                 ALERE HEALTH    Muhammad Sayuti
133    27029354003000         HIGH VOLT TECHNOLOGY      HIDA NAHLIATI
279    18129858007000               AIRKON PRATAMA   I Nyoman Sukerta
315    16682510007000           LINTAS BUANA TAKSI  Heni Wuryaningsih
316    18444497007000  LUHUR SATRIA SEJATI KENCANA  Heni Wuryaningsih
339    25063611008000     SARANA KARYA MANDIRIJAYA    Muhammad Sayuti
985    15896046007000  OKAMOTO LOGISTICS NUSANTARA  Heni Wuryaningsih
1030   18142430007000          PANCAR MUTIARA JAYA   Pandan Candrawan
2598   13658869007000             BINATAMA AKRINDO          Nur Irvan
4445   17837378007000             PILAR GARBA INTI   Pandan Candrawan

In [18]:
MD2.to_excel('E:/NADINE/JAWABAN PERMINTAAN DARI LUAR/ar.xlsx',index=False)