In [36]:
import pandas as pd
from pandas_profiling import ProfileReport

In [37]:
df = pd.read_csv("E:\VISUALISASI\DATABASE\CSV\MPNSPM.csv", sep = ";", low_memory =False)

In [28]:
klu = ['45102','45301','46593','45104','77100','46900','46901','45101','45201','45103','45202','45302','30912','29200','45405',
'46593','45401','47855','33141','46900','47794','45402','45406','28112','46901','49433','93191','27111','30911','45404',
'49432','45403','49423','49431','47736','29100','29300','77302','45407','33159']

In [29]:
df = df.loc[(df["KLU"]).isin (klu)]
df = df.astype({'MPN_NPWP':str,'KLU':int})
df = df[['MPN_NPWP','MPN_NAMA WP','MPN_MAP','DATEBAYAR','NOMINAL','KLU','Kategori','AR','SEKSI']]

In [31]:
df.to_csv("E:\VISUALISASI\DATABASE\CSV\otomotif.csv")

In [57]:
df_ektrak.to_excel("D:\DATA KANTOR\HASIL JUPYTER NOTEBOOK\KLUotomotif.xlsx",index=False)

In [36]:
df_ektrak.to_clipboard()

# CARI AR WP KE MADYA 2 JAKSEL

In [42]:
npwp = ['018129858007000','314795543002000','016742280007000','013658869007000','018130559003000',
       '027029354003000','016682510007000','018444497007000','015896046007000','018142430007000',
        '017837378007000','025063611008000'
]

In [61]:
hapus = ['PT','.',',']
MD2 = df.loc[(df['MPN_NPWP'].isin (npwp))]
MD2 = MD2[['MPN_NAMA WP','AR']]
MD2['MPN_NAMA WP'] = MD2['MPN_NAMA WP'].str.replace('PT','')
MD2['MPN_NAMA WP'] = MD2['MPN_NAMA WP'].str.replace('.','')
MD2['MPN_NAMA WP'] = MD2['MPN_NAMA WP'].str.replace(',','')
MD2['MPN_NAMA WP'] = MD2['MPN_NAMA WP'].str.replace(' ','')
MD2 = MD2.drop_duplicates(subset=['MPN_NAMA WP'])
MD2

                    MPN_NAMA WP                 AR
21        ANEKABANGUNEKAPRATAMA       Donna Novita
83                    ESAALGISA    Muhammad Sayuti
118                 ALEREHEALTH    Muhammad Sayuti
133          HIGHVOLTTECHNOLOGY      HIDA NAHLIATI
279               AIRKONPRATAMA   I Nyoman Sukerta
315            LINTASBUANATAKSI  Heni Wuryaningsih
316    LUHURSATRIASEJATIKENCANA  Heni Wuryaningsih
339      SARANAKARYAMANDIRIJAYA    Muhammad Sayuti
985   OKAMOTOLOGISTICSNUSANTARA  Heni Wuryaningsih
1030          PANCARMUTIARAJAYA   Pandan Candrawan
2598            BINATAMAAKRINDO          Nur Irvan
4445             PILARGARBAINTI   Pandan Candrawan

In [62]:
MD2.to_excel('E:/NADINE/JAWABAN PERMINTAAN DARI LUAR/ar.xlsx',index=False)