In [1]:
import pandas as pd
import mysql.connector as mysql
from pandas_profiling import ProfileReport

In [2]:
db_conn = mysql.connect(host = '10.4.19.15',
                          database = 'mpninfo', 
                          user ='indra', 
                          password = 'indra')

In [3]:
npwp = ['018129858007000','314795543002000','016742280007000','013658869007000','018130559003000',
       '027029354003000','016682510007000','018444497007000','015896046007000','018142430007000',
        '017837378007000','025063611008000'
]

In [4]:
carimpn = '''
select concat(npwp,kpp,cabang) as npwpfull, nama, kdmap, kdbayar, masa, tahun, tanggalbayar, nominal,tahunbayar 
from mpn
where nospm IS NULL
and (tahun = 2019 or tahun = 2020 or tahun = 2021) ;
'''

mpn = pd.read_sql(carimpn, db_conn)
mpn = mpn.loc[
    (mpn['npwpfull'].isin (npwp))]

In [5]:
mpn

,npwpfull,nama,kdmap,kdbayar,masa,tahun,tanggalbayar,nominal,tahunbayar
295,015896046007000,OKAMOTO LOGISTICS NUSANTARA,411211,100,11,2019,31,382921347.0,2019
453,018129858007000,AIRKON PRATAMA,411211,900,11,2019,31,5090909.0,2019
1627,013658869007000,BINATAMA AKRINDO,411121,100,6,2019,31,19087016.0,2019
1628,013658869007000,BINATAMA AKRINDO,411121,100,8,2019,31,19087016.0,2019
1633,013658869007000,BINATAMA AKRINDO,411121,100,4,2019,31,19087016.0,2019
...,...,...,...,...,...,...,...,...,...
508906,016682510007000,LINTAS BUANA TAKSI,411121,300,7,2020,1,227178.0,2021
508907,018444497007000,LUHUR SATRIA SEJATI KENCANA,411121,300,7,2020,1,54472.0,2021
509021,314795543002000,PT.ALERE HEALTH,411212,100,4,2021,1,76503000.0,2021
509304,016742280007000,ANEKABANGUN EKA PRATAMA,411126,200,0,2020,1,1883947.0,2021
509339,314795543002000,PT.ALERE HEALTH,411123,100,4,2021,1,19126000.0,2021

In [69]:
mpn.to_clipboard(excel = True)
mpn.to_excel('D:\DATA KANTOR\HASIL JUPYTER NOTEBOOK\MPN.xlsx', index = False)

# CARI SPM

In [54]:
carispm = '''
select concat(npwp,kpp,cabang) as npwpfull, nama, kdmap, kdbayar, masa, tahun, tanggalbayar, nominal, nospm,tahunbayar 
from mpn
where nospm IS NOT NULL
and (tahun = 2019 or tahun = 2020 or tahun = 2021) ;
'''

spm = pd.read_sql(carispm, db_conn)
spm = spm.loc[
    (spm['npwpfull'].isin (npwp))
]
spm

,npwpfull,nama,kdmap,kdbayar,masa,tahun,tanggalbayar,nominal,nospm,tahunbayar
61,018129858007000,AIRKON PRATAMA,411211,910,12,2020,7,149470073.0,08787T/412534/2020,2020
66,018129858007000,AIRKON PRATAMA,411211,910,12,2020,7,24814250.0,00367T/635727/2020,2020
68,018129858007000,AIRKON PRATAMA,411211,910,12,2020,7,5950027.0,00369T/635727/2020,2020
69,018129858007000,AIRKON PRATAMA,411211,910,12,2020,7,158668808.0,05183T/653910/2020,2020
91,016742280007000,ANEKABANGUN EKA PRATAMA,411211,910,12,2020,7,69227530.0,03947T/409294/2020,2020
...,...,...,...,...,...,...,...,...,...,...
16516,018129858007000,AIRKON PRATAMA,411211,910,4,2021,7,60946983.0,00168T/412559/2021,2021
16518,018129858007000,AIRKON PRATAMA,411211,910,4,2021,6,45364668.0,00292T/412565/2021,2021
16520,018129858007000,AIRKON PRATAMA,411211,910,4,2021,6,1330823.0,00907T/119091/2021,2021
16577,018129858007000,AIRKON PRATAMA,411211,910,4,2021,9,166757433.0,10145T/412534/2021,2021
16586,018129858007000,AIRKON PRATAMA,411211,910,4,2021,9,171514364.0,10211T/898004/2021,2021

In [53]:
spm.to_excel('D:\DATA KANTOR\HASIL JUPYTER NOTEBOOK\SPM.xlsx', index = False)